{% extends "base.twig" %}

{% block title %}Home - {{ app_name }}{% endblock %}

{% block header %}
    <h1>Welcome to {{ app_name }}</h1>
{% endblock %}

{% block content %}
    <p>This is the homepage of {{ app_name }}.</p>
{% endblock %}
